Repository WICG/turtledove, pull requests merged in 2023-07, with the labels that each got.

#698 Fix attribution-report link error.
  spec.bs
Labels: spec

#678 Add webIDL dictionaries for reporting browser signals
  spec.bs
Labels: spec

#701 Specify buyer[AndSeller]ReportingId
  spec.bs
Labels: spec

#685 Fix trusted scoring signals related steps.
  spec.bs
Labels: spec

#704 Fix a few small mistakes in spec.
  spec.bs
Labels: spec

#722 spec: remove old reporting TODO that doesn't apply
  spec.bs
Labels: spec

#633 Change adRenderId length to 12 and format to DOMString
  FLEDGE.md
Labels: Non-breaking Feature Request

#639 Add recency signal to generateBid()
  FLEDGE.md
Labels: Non-breaking Feature Request

#711 [Spec] Add recency for generateBid().
  spec.bs
Labels: spec, Non-breaking Feature Request
